# Importing Necessary Libraries

In [33]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [34]:
# Replace 'your_file.csv' with the path to your CSV file
file_path = "C:\Documents\IBM\IBM Data Analyst Capstone Labs\Final Assignment\survey_data_updated 5.csv"

# Read the CSV file
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe
print(df.head())

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\r_bw\AppData\Local\Temp\ipykernel_18548\191845368.py:2: SyntaxWarning: invalid escape sequence '\D'
  file_path = "C:\Documents\IBM\IBM Data Analyst Capstone Labs\Final Assignment\survey_data_updated 5.csv"

   ResponseId                                         MainBranch  \
0           2                     I am a developer by profession
1           3                     I am a developer by profession
2          10                     I am a developer by profession
3          11  I used to be a developer by profession, but no...
4          12                     I am a developer by profession

               Age                                         Employment  \
0  35-44 years old                                Employed, full-time
1  45-54 years old                                Employed, full-time
2  35-44 years old  Independent contractor, freelancer, or self-em...
3  35-44 years old                                Employed, full-time
4  45-54 years old                                Employed, full-time

  RemoteWork   Check                                   CodingActivities  \
0     Remote  Apples  Hobby;Contribute to open-source projects;Other...
1     Remote  Apples  Hobby;Contribute to open-source projects;Other...
2     Remote  Apples                           Bootstrapping a business
3     Remote  Apples           Hobby;Contribute to open-source projects
4  In-person  Apples                      Hobby;School or academic work

                                           EdLevel  \
0     Bachelor's degree (B.A., B.S., B.Eng., etc.)
1  Master's degree (M.A., M.S., M.Eng., MBA, etc.)
2  Master's degree (M.A., M.S., M.Eng., MBA, etc.)
3     Bachelor's degree (B.A., B.S., B.Eng., etc.)
4   Professional degree (JD, MD, Ph.D, Ed.D, etc.)

                                           LearnCode  \
0  Books / Physical media;Colleague;On the job tr...
1  Books / Physical media;Colleague;On the job tr...
2  On the job training;Other online resources (e....
3  Books / Physical media;Other online resources ...
4  Books / Physical media;School (i.e., Universit...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
1  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
2  Technical documentation;Blogs;Written Tutorial...  ...            NaN
3  Technical documentation;Books;Written Tutorial...  ...           25.0
4                                                NaN  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            0.0            0.0            0.0             0.0
1            NaN            NaN            NaN             NaN
2            NaN            NaN            NaN             NaN
3           10.0            0.0           15.0             0.0
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength                  SurveyEase  \
0             0.0                    NaN                         NaN
1             NaN  Appropriate in length                        Easy
2             NaN               Too long                        Easy
3             0.0  Appropriate in length                        Easy
4             NaN  Appropriate in length  Neither easy nor difficult

  ConvertedCompYearly JobSat
0                 NaN    NaN
1                 NaN    NaN
2                 NaN    NaN
3                 NaN    8.0
4                 NaN    NaN

[5 rows x 114 columns]

# Looking for and Removing any Duplicates

In [35]:
print(df.duplicated().sum())

duplicates =df[df.duplicated()]

duplicates.head()

0

Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 114 columns]

In [36]:
df.drop_duplicates(ignore_index=True, inplace=True)

print(df.duplicated().sum())

# Handling Missing Values i.e N/A or Null in certain columns replacing them with an Average

In [37]:
# Count the number of missing values in each column
missing_values_count = df.isnull().sum()

print(missing_values_count)

ResponseId                0
MainBranch                0
Age                       0
Employment                0
RemoteWork                6
                       ...
JobSatPoints_11        6663
SurveyLength            520
SurveyEase              509
ConvertedCompYearly    9295
JobSat                 6734
Length: 114, dtype: int64

In [38]:
# Impute missing values in the 'Employment' column with the most frequent value
most_frequent_value1 = df['Employment'].mode()[0]  # Get the most frequent value
df['Employment'] = df['Employment'].fillna(most_frequent_value1)

# Impute missing values in the 'JobSat' column with the most frequent value
median_value = df['JobSat'].median() # Get the most median value
df['JobSat'] = df['JobSat'].fillna(median_value)

# Impute missing values in the 'RemoteWork' column with the most frequent value
most_frequent_value2 = df['RemoteWork'].mode()[0]  # Get the most frequent value
df['RemoteWork'] = df['RemoteWork'].fillna(most_frequent_value2)

# Impute missing values in the 'ConvertedCompYearly' column with the most frequent value
median_value2 = df['ConvertedCompYearly'].median() # Get the most median value
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(median_value2)

# Impute missing values in the 'ConvertedCompYearly' column with the most frequent value
median_value3 = df['CompTotal'].median() # Get the most median value
df['CompTotal'] = df['CompTotal'].fillna(median_value3)

# Creating and amending columns to make sure data is cleaned before Analysis

## Some Columns have multiple entries which will need to be parsed.

In [39]:
# Define a function to split and strip values safely
def safe_split_strip(value):
    if isinstance(value, str):
        return value.split(';')
    return value

# Split the values in the Employment column into lists
df['Employment_Split'] = df['Employment'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)


# Function to extract the Primary Code Activity from the Coding Activites column
def extract_first_value(text):
    return text.split(';')[0]

# Apply the function to the entire column
df['PrimaryCodeAct'] = df['CodingActivities'].apply(extract_first_value)

# Replace NaN/null values with the specified string
df['PrimaryCodeAct'] = df['PrimaryCodeAct'].fillna("I don't code outside of work")

In [40]:
# Define a function to split and strip values safely
def safe_split_strip(value):
    if isinstance(value, str):
        return value.split(';')
    return value

# Language Split
df['LangHaveWorkedSplit'] = df['LanguageHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['LangWantWorkSplit'] = df['LanguageWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['LangAdmiredSplit'] = df['LanguageAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# DB Split
df['DBHaveWorkedSplit'] = df['DatabaseHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['DBWantWorkSplit'] = df['DatabaseWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['DBAdmiredSplit'] = df['DatabaseAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# Platform Split
df['PlatHaveWorkedSplit'] = df['PlatformHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['PlatWantWorkSplit'] = df['PlatformWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['PlatformAdmiredSplit'] = df['PlatformAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# Webframe Split
df['WebframeHaveWorkedSplit'] = df['WebframeHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['WebframeWantWorkSplit'] = df['WebframeWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['WebframeAdmiredSplit'] = df['WebframeAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# Embedded Split
df['EmbeddedHaveWorkedSplit'] = df['EmbeddedHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['EmbeddedWantWorkSplit'] = df['EmbeddedWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['EmbeddedAdmiredSplit'] = df['EmbeddedAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# MiscTech Split
df['MiscTechHaveWorkedSplit'] = df['MiscTechHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['MiscTechWantWorkSplit'] = df['MiscTechWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['MiscTechAdmiredSplit'] = df['MiscTechAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# ToolsTech Split
df['ToolsTechHaveWorkedSplit'] = df['ToolsTechHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['ToolsTechWantWorkSplit'] = df['ToolsTechWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['ToolsTechAdmiredSplit'] = df['ToolsTechAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# NEWCollabTools Split
df['NEWCollabToolsHaveWorkedSplit'] = df['NEWCollabToolsHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['NEWCollabToolsWantWorkSplit'] = df['NEWCollabToolsWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['NEWCollabToolsAdmiredSplit'] = df['NEWCollabToolsAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# OPSYS Split
df['OpPerSplit'] = df['OpSysPersonal use'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['OpProSplit'] = df['OpSysProfessional use'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# OfficeStackAsync Split
df['OfficeStackAsyncHaveWorkedSplit'] = df['OfficeStackAsyncHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['OfficeStackAsyncWantWorkSplit'] = df['OfficeStackAsyncWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['OfficeStackAsyncAdmiredSplit'] = df['OfficeStackAsyncAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# OfficeStackSync Split
df['OffStackSyncHaveWorkedSplit'] = df['OfficeStackSyncHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['OffStackSyncWantWorkSplit'] = df['OfficeStackSyncWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['OffStackSyncAdmiredSplit'] = df['OfficeStackSyncAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

# AI Split
df['AIHaveWorkedSplit'] = df['AISearchDevHaveWorkedWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['AIWantWorkSplit'] = df['AISearchDevWantToWorkWith'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)
df['AIAdmiredSplit'] = df['AISearchDevAdmired'].apply(safe_split_strip).explode().str.strip().reset_index(drop=True)

## Creating Midpoints as the Age column is in grouped format

In [41]:
# Define the mapping of age brackets to midpoints
age_bracket_to_midpoint = {
    'under 18 years old': 9,
    '18-24 years old': (18 + 24) / 2,
    '25-34 years old': (25 + 34) / 2,
    '35-44 years old': (35 + 44) / 2,
    '45-54 years old': (45 + 54) / 2,
    '55-64 years old': (55 + 64) / 2,
    '65 years or older' :(65 + 80) / 2
}

# Create a new column 'Age_Midpoint' using the midpoints of the brackets
df['Age_Midpoint'] = df['Age'].map(age_bracket_to_midpoint)

## Making Categories of the YearsCodePro Column to make it more representable

In [42]:
# Convert 'YearsCodePro' to numeric, forcing errors to NaN (use 'coerce' to handle non-numeric values)
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')

# Define the function to categorize experience levels
def categorize_experience(years):
    if pd.isna(years):
        return 'Unknown'  # For missing or invalid values
    elif   0<= years < 5:
        return 'Beginner'
    elif   5 <=  years <10:
        return 'Intermediate'
    elif  10 <= years <20:
        return 'Advanced'
    else:
        return 'Senior'

# Apply the function to create the 'ExperienceLevel' column
df['ExperienceLevel'] = df['YearsCodePro'].apply(categorize_experience)

# Convert the 'ExperienceLevel' column to a categorical type
df['ExperienceLevel'] = df['ExperienceLevel'].astype('category')

## Creating and Mapping Countries to Continents to make Visualisations more Clear

In [43]:
# Define a dictionary to map countries to regions
country_to_region = {
    'United States of America': 'North America',
    'United Kingdom of Great Britain and Northern Ireland': 'Europe',
    'Canada': 'North America',
    'Norway': 'Europe',
    'Uzbekistan': 'Asia',
    'Serbia': 'Europe',
    'Poland': 'Europe',
    'Philippines': 'Asia',
    'Bulgaria': 'Europe',
    'Switzerland': 'Europe',
    'India': 'Asia',
    'Germany': 'Europe',
    'Ireland': 'Europe',
    'Italy': 'Europe',
    'Ukraine': 'Europe',
    'Australia': 'Oceania',
    'Brazil': 'South America',
    'Japan': 'Asia',
    'Austria': 'Europe',
    'Iran, Islamic Republic of...': 'Asia',
    'France': 'Europe',
    'Saudi Arabia': 'Asia',
    'Romania': 'Europe',
    'Turkey': 'Asia',
    'Nepal': 'Asia',
    'Algeria': 'Africa',
    'Sweden': 'Europe',
    'Netherlands': 'Europe',
    'Croatia': 'Europe',
    'Pakistan': 'Asia',
    'Czech Republic': 'Europe',
    'Republic of North Macedonia': 'Europe',
    'Finland': 'Europe',
    'Slovakia': 'Europe',
    'Russian Federation': 'Asia',
    'Greece': 'Europe',
    'Israel': 'Asia',
    'Belgium': 'Europe',
    'Mexico': 'North America',
    'United Republic of Tanzania': 'Africa',
    'Hungary': 'Europe',
    'Argentina': 'South America',
    'Portugal': 'Europe',
    'Sri Lanka': 'Asia',
    'Latvia': 'Europe',
    'China': 'Asia',
    'Singapore': 'Asia',
    'Lebanon': 'Asia',
    'Spain': 'Europe',
    'South Africa': 'Africa',
    'Lithuania': 'Europe',
    'Viet Nam': 'Asia',
    'Dominican Republic': 'North America',
    'Indonesia': 'Asia',
    'Kosovo': 'Europe',
    'Morocco': 'Africa',
    'Taiwan': 'Asia',
    'Georgia': 'Europe',
    'San Marino': 'Europe',
    'Tunisia': 'Africa',
    'Bangladesh': 'Asia',
    'Nigeria': 'Africa',
    'Liechtenstein': 'Europe',
    'Denmark': 'Europe',
    'Ecuador': 'South America',
    'Malaysia': 'Asia',
    'Albania': 'Europe',
    'Azerbaijan': 'Asia',
    'Chile': 'South America',
    'Ghana': 'Africa',
    'Peru': 'South America',
    'Bolivia': 'South America',
    'Egypt': 'Africa',
    'Luxembourg': 'Europe',
    'Montenegro': 'Europe',
    'Cyprus': 'Europe',
    'Paraguay': 'South America',
    'Kazakhstan': 'Asia',
    'Slovenia': 'Europe',
    'Jordan': 'Asia',
    'Venezuela, Bolivarian Republic of...': 'South America',
    'Costa Rica': 'North America',
    'Jamaica': 'North America',
    'Thailand': 'Asia',
    'Nicaragua': 'North America',
    'Myanmar': 'Asia',
    'Republic of Korea': 'Asia',
    'Rwanda': 'Africa',
    'Bosnia and Herzegovina': 'Europe',
    'Benin': 'Africa',
    'El Salvador': 'North America',
    'Zimbabwe': 'Africa',
    'Afghanistan': 'Asia',
    'Estonia': 'Europe',
    'Malta': 'Europe',
    'Uruguay': 'South America',
    'Belarus': 'Europe',
    'Colombia': 'South America',
    'Republic of Moldova': 'Europe',
    'Isle of Man': 'Europe',
    'Nomadic': 'Other',
    'New Zealand': 'Oceania',
    'Palestine': 'Asia',
    'Armenia': 'Asia',
    'United Arab Emirates': 'Asia',
    'Maldives': 'Asia',
    'Ethiopia': 'Africa',
    'Fiji': 'Oceania',
    'Guatemala': 'North America',
    'Uganda': 'Africa',
    'Turkmenistan': 'Asia',
    'Mauritius': 'Africa',
    'Kenya': 'Africa',
    'Cuba': 'North America',
    'Gabon': 'Africa',
    'Bahamas': 'North America',
    'South Korea': 'Asia',
    'Iceland': 'Europe',
    'Honduras': 'North America',
    'Hong Kong (S.A.R.)': 'Asia',
    "Lao People's Democratic Republic": 'Asia',
    'Mongolia': 'Asia',
    'Cambodia': 'Asia',
    'Madagascar' : 'Africa',
    'Angola': 'Africa', 
    'Democratic Republic of the Congo': 'Africa', 
    'Syrian Arab Republic': 'Asia',
    'Iraq': 'Asia',
    'Namibia': 'Africa',
    'Senegal': 'Africa',
    'Kyrgyzstan': 'Asia',
    'Zambia': 'Africa',
    'Swaziland': 'Africa',
    "Côte d'Ivoire": 'Africa',
    'Kuwait': 'Asia',
    'Tajikistan': 'Asia',
    'Burundi': 'Africa',
    'Trinidad and Tobago': 'North America',
    'Mauritania': 'Africa',
    'Sierra Leone': 'Africa',
    'Panama': 'North America',
    'Somalia': 'Africa',
    'North Korea': 'Asia',
    'Dominica': 'North America',
    'Guyana': 'South America',
    'Togo': 'Africa',
    'Oman': 'Asia',
    'Barbados': 'North America',
    'Andorra': 'Europe',
    "Democratic People's Republic of Korea": 'Asia',
    'Qatar': 'Asia',
    'Sudan': 'Africa',
    'Cameroon': 'Africa',
    'Papua New Guinea': 'Africa', 
    'Bahrain': 'Asia',
    'Yemen': 'Asia',
    'Malawi': 'Africa',
    'Burkina Faso': 'Africa',
    'Congo, Republic of the...': 'Africa',
    'Botswana': 'Africa',
    'Guinea-Bissau': 'Africa',
    'Mozambique': 'Africa',
    'Central African Republic': 'Africa',
    'Equatorial Guinea': 'Africa',
    'Suriname': 'South America',
    'Belize': 'North America',
    'Libyan Arab Jamahiriya': 'Africa',
    'Cape Verde': 'Africa',
    'Brunei Darussalam': 'Asia',
    'Bhutan': 'Asia',
    'Guinea': 'Africa',
    'Niger': 'Africa',
    'Antigua and Barbuda': 'North America',
    'Mali': 'Africa',
    'Samoa': 'Oceania',
    'Lesotho': 'Africa',
    'Saint Kitts and Nevis': 'North America',
    'Monaco': 'Europe',
    'Micronesia, Federated States of...': 'Oceania',
    'Haiti': 'North America',
    'Nauru': 'Oceania',
    'Liberia': 'Africa',
    'Chad': 'Africa', 
    'Djibouti': 'Africa', 
    'Solomon Islands': 'Oceania'
}

# Create a new column 'Region' based on the 'Country' column 
df['Region'] = df['Country'].map(country_to_region)

# Time to review and drop unneeded columns from the Dataset

In [44]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,OfficeStackAsyncAdmiredSplit,OffStackSyncHaveWorkedSplit,OffStackSyncWantWorkSplit,OffStackSyncAdmiredSplit,AIHaveWorkedSplit,AIWantWorkSplit,AIAdmiredSplit,Age_Midpoint,ExperienceLevel,Region
0,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,Microsoft Teams,Slack,Slack,NaN,NaN,NaN,39.5,Advanced,Europe
1,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,Slack,Google Chat,Google Chat,NaN,NaN,NaN,49.5,Senior,Europe
2,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,Jira,Google Chat,Google Meet,Google Meet,ChatGPT,ChatGPT,ChatGPT,39.5,Advanced,Europe
3,11,"I used to be a developer by profession, but no...",35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Written Tutorial...,...,Confluence,Google Meet,Zoom,Zoom,Google Gemini,Google Gemini,Google Gemini,39.5,Unknown,North America
4,12,I am a developer by profession,45-54 years old,"Employed, full-time",In-person,Apples,Hobby;School or academic work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Books / Physical media;School (i.e., Universit...",NaN,...,GitHub Discussions,Microsoft Teams,Discord,Discord,ChatGPT,GitHub Copilot,GitHub Copilot,49.5,Senior,Europe

In [45]:
# The Columns have been parsed correctly I can now Drop the original and unwanted columns
df.drop(columns=['LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageAdmired',
                 'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 'DatabaseAdmired',
                 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'PlatformAdmired',
                 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'WebframeAdmired',
                 'EmbeddedHaveWorkedWith', 'EmbeddedWantToWorkWith', 'EmbeddedAdmired',
                 'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith', 'MiscTechAdmired',
                 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 'ToolsTechAdmired',
                 'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'NEWCollabToolsAdmired',
                 'OpSysPersonal use', 'OpSysProfessional use',
                 'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith', 'OfficeStackAsyncAdmired',
                 'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith', 'OfficeStackSyncAdmired',
                 'AISearchDevHaveWorkedWith', 'AISearchDevWantToWorkWith', 'AISearchDevAdmired'],
        inplace=True)

# Viewing and Exporting Dataset after being cleaned.

In [46]:
# Display the first few rows of the dataset
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,OfficeStackAsyncAdmiredSplit,OffStackSyncHaveWorkedSplit,OffStackSyncWantWorkSplit,OffStackSyncAdmiredSplit,AIHaveWorkedSplit,AIWantWorkSplit,AIAdmiredSplit,Age_Midpoint,ExperienceLevel,Region
0,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,Microsoft Teams,Slack,Slack,NaN,NaN,NaN,39.5,Advanced,Europe
1,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,Slack,Google Chat,Google Chat,NaN,NaN,NaN,49.5,Senior,Europe
2,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,Jira,Google Chat,Google Meet,Google Meet,ChatGPT,ChatGPT,ChatGPT,39.5,Advanced,Europe
3,11,"I used to be a developer by profession, but no...",35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Written Tutorial...,...,Confluence,Google Meet,Zoom,Zoom,Google Gemini,Google Gemini,Google Gemini,39.5,Unknown,North America
4,12,I am a developer by profession,45-54 years old,"Employed, full-time",In-person,Apples,Hobby;School or academic work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Books / Physical media;School (i.e., Universit...",NaN,...,GitHub Discussions,Microsoft Teams,Discord,Discord,ChatGPT,GitHub Copilot,GitHub Copilot,49.5,Senior,Europe

In [47]:
# Save the dataset to a CSV file
df.to_csv('SurveyDataClean.csv', index=False)